/* Login */
.logo {
  width: 300px;
}

.containerColor {
  background-color: azure !important;
  min-height: 100vh;
}

/* Imagen Cards */
.imageCard{
  width: 200px;
}

.cardConsultorioPosta{
  width: 500px;
}

.cardConsultorioMedico, .cardPaciente{
  width: 350px;
}

.cardGreen{
  background-color: rgba(125, 232, 129,0.5);
}

.cardRed{
  background-color: rgba(232, 125, 125,0.5);
}

.imageConsultorio{
  width: 150px;
}